# Ignore C++ build artifacts.

build/
*.a
*.o
*.so
*.exe
*.dll


# Ignore Python environments.

.python-version
.venv*/


# Ignore Make artifacts.

**/.make-update


# Ignore settings for various IDEs.

.idea/
.project/
.vscode/
nbproject/
*.code-workspace


# Ignore OS metadata files.

.DS_Store
Thumbs.db
